body {
    margin: 0px;
}

:root {
    --font: Inter, Arial, Helvetica, sans-serif;
    --fontcolor: #000000;
    --bcgcolorbutton: #F50E30;
    --buttonfontcolor: #FFFFFF;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter/static/Inter_18pt-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter/static/Inter_18pt-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter/static/Inter_18pt-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter/static/Inter_18pt-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("fonts/Inter/static/Inter_18pt-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

.header__conteiner {
    display: flex;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 28px;
}

.main-logo {
    width: 60px;
    margin: 0px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

.nav__menu {
    display: flex;
    /* margin-left: 170px; */
    padding: 0px;
    gap: 38px;
}

.nav__list {
    list-style-type: none;
}

.link-list-menu {
    text-decoration: none;
    color: var(--fontcolor);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2%;
}

.contacts {
    display: flex;
    padding: 6px 0px;
    align-items: center;
}

.menu-contacts {
    display: flex;
    gap: 12px;  
    padding: 0px;
    margin: 0 0 0 99px;
}

.menu-contacts__list {
    list-style-type: none;
}

.phone {
    display: flex;
    flex-direction: column;
    margin-left: 29px;
    gap: 4px;
}

.phone__number { 
    text-decoration: none;
    color: var(--fontcolor);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 0px 151px 0px;
    /* margin-right: auto; */

}

.hero::after {
    content: url("jpg/car.png");
    position: absolute;
    display: inline-block;
    width: 816px;
    height: 417px;
    top: 216px;
    right: 0px;
}

.hero__offer {
    width: 670px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 52px;
    font-style: normal;
    color: var(--fontcolor);
    line-height: 1.2;

    margin-top: 121px;
    margin-bottom: 20px;
    margin-left: 2px;
}

.hero__description {
    max-width: 580px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    color: var(--fontcolor);
    font-style: normal;
    line-height: 1.6;
    margin-left: 2px;
}

.button {
    width: 312px;
    height: 64px;
    background-color: var(--bcgcolorbutton);
    font-family: var(--font);
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    color: var(--buttonfontcolor);
    border: none;
    border-radius: 8px;
    margin: 44px 0px 0px 2px;
    /* margin-left: 2px; */
    /* padding-bottom: 151px; */
}

.hero__button {
    /* margin-bottom: 40px; */
}
/*                              HELP                          */
.help {
    padding: 119px 0px 121px;
    max-width: 1280px;
    margin: 0px auto;
    text-align: center;
    padding: 129px 0px 119px;
    background-color: #F4F6F8;
}

.help__offer {
    width: 1014px;
    height: 108px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 44px;
    line-height: 1.227;
    letter-spacing: 0%;
    font-style: normal; 
    text-align: center;
    color: var(--fontcolor);
    margin: 0px auto;
}

.help__description {
    font-family: var(--font);
    font-weight: 400;
    font-size: 24px;
    font-style: normal; 
    text-align: center;
    color: var(--fontcolor);
    line-height: 1.333;
    letter-spacing: 0%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.help__button {
    width: 235px;
    height: 56px;

    font-family: var(--font);
    font-weight: 200;
    font-size: 20px;
    font-style: normal; 
    text-align: center;
    margin: 28px auto 40px;
}

.options {
    display: flex;
    max-width: 1280px;
    gap: 20px;
    padding: 0px;
    list-style-type: none;
    margin: 0px;
}

.options__conteiner {
    position: relative;
    width: 33.3%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.options__offer {
    width: 325px;
    font-family: var(--font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    font-style: normal; 
    color: var(--fontcolor);
    /* margin-left: 32px; */
    margin-bottom: 27px;
    text-align: start;
}

.options__description {
    width: 302px;
    height: 84px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    font-style: normal; 
    color: var(--fontcolor);
    text-align: start;
    margin-right: 0px; 
}

.options__conteiner {
    padding: 24px 50px 85px 32px;
}

.used::after {
    content: "";
    display: block;
    width: 94px;
    height: 82px;
    position: absolute;
    background: image-set(
        url("jpg/carkey1x.png") type("image/png") 1x,
        url("jpg/carkey2x.png") type("image/png") 2x
    ) ;
    background-repeat: no-repeat;
    top: 164px;
    right: 30px;
    bottom: 18;
    left: 287px;
}

.new::after {
    content: "";
    display: block;
    width: 221x;
    height: 120px;
    position: absolute;
    background: image-set( 
        url("jpg/litlecar1x.png") type("image/png") 1x,
        url("jpg/litlecar2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
    top: 144px;
    right: 10.6px;
    bottom: 0px;
    left: 177px;
}

.budjet::after {
    content: "";
    display: block;
    width: 222x;
    height: 177px;
    position: absolute;
    background: image-set(
        url("jpg/Budget1x.png") type("image/png") 1x,
        url("jpg/Budget2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
    top: 120px;
    right: 16px;
    bottom: 17px;
    left: 173px;
}
.about {
    display: flex;
    gap: 100px;
}
.about__container {
    box-sizing: border-box;
    background: image-set(
        url("jpg/big-picture1x.png") type("image/png") 1x,
        url("jpg/big-picture2x.png") type("image/png") 2x
    );
    width: 908px;
    height: 656px;
    background-repeat: no-repeat;
    /* background-position: 0 0px; */
}

.about__title {
    font-family: var(--font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.333;
    letter-spacing: 0%;
    font-style: normal; 
    color: var(--fontcolor);
    
}

.about__discription {
    font-family: var(--font);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.227;
    letter-spacing: 0%;
    font-style: normal; 
    color: var(--fontcolor);
    width: 524px;
    margin-top: 12px;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
    padding: 0px;
    margin-top: 24px;
}

.about__item {
    font-family: var(--font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0%;
    font-style: normal; 
    color: var(--fontcolor);
}